@charset "UTF-8";
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #1abc9c;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #1abc9c;
  --bs-secondary: #2c3e50;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 26, 188, 156;
  --bs-secondary-rgb: 44, 62, 80;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;

  /* My colors */
  --bs-my-red-clr1: #2e122d;
  --bs-my-red-clr2: #530332;
  --bs-my-red-clr3: #800834;
  --bs-my-red-clr4: #c72b41;
  --bs-my-red-clr5: #ee4540;
}

/* My css */
#about a{
    transition: 0.2s;
}
#about a:hover{
    color: var(--bs-my-red-clr4);
}
.my-red-1{
  color: var(--bs-my-red-clr1);
}
.my-red-2{
  color: var(--bs-my-red-clr2);
}
.my-red-3{
  color: var(--bs-my-red-clr3);
}
.my-red-4{
  color: var(--bs-my-red-clr4);
}
.my-red-5{
  color: var(--bs-my-red-clr5);
}
.my-text-bold{
  font-weight: bold;
}
.my-h4{
  font-size: 1.5rem;
  color: #fff;
}
.my-pad{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.my-pad-1{
  padding-top: 1.5rem;
}
.my-pad-2{
  padding-top: 2rem;
}
.my-pad-3{
  padding-top: 3rem;
}
.my-bg-image{
  background-image: url('../assets/img/my-bg-image2.jpg');
  background-position: center;
}
.my-artwork-image{
  transition: 0.3s;
}
.my-artwork-image img{
  width: 100%;
  border-radius: 0.5rem;
}
.my-artwork-image:hover{
  transform: scale(1.1);
}
.my-txt-underline{
  text-decoration: underline;
  color: var(--bs-my-red-clr5);
}
.my-text-justify{
  text-align: justify;
}
.my-a{
  text-decoration: none;
  color: #fff;
}
.my-a:hover{
  color: var(--bs-my-red-clr5);
}
.my-center{
  display: flex;
  justify-self: center;
  align-items: center;
}
@media (min-width: 1000px) {
  .my-carousel{
    width: 65%;
  }
}
.hide-text{
  display: none;
  background-color: var(--bs-my-red-clr2);
  color: #fff;
  font-size: 1.2rem;
  padding: 0.7rem;
  text-align: justify;
}
.show-more{
  width: 100%;
  height: 50px;
  background-color: var(--bs-my-red-clr5);
  color: var(--bs-my-red-clr3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  transition: 0.2s;
  border-radius: 0 0 0.5rem 0.5rem;
  outline: none;
  border: none;
}
#my-box{
  width: 500px;
  height: 600px;
  background-color: #000;
}
.carousel-item img{
  width: 35%;
  margin: 0px auto;
}
@media (max-width: 576px){
  .carousel-item img{
    width: 100%;
  }
  .my-modal-body{
    padding: 1rem;
    height: 18rem;
  }
  .my-modal-button{
    margin-left: 65%;
  }
}
.my-text-color-changer{
  color: var(--bs-my-red-clr5);
}
.changeP{
  font-size: 1.10rem;
}
.errorMessage{
  color: var(--bs-my-red-clr5);
  font-size: 1.3rem;
}
.successMessage{
  color: var(--bs-primary);
  font-size: 1.3rem;
}
.my-display-none{
  display: none;
}
.my-red-button{
  outline: none;
  border: none;
  background-color: var(--bs-my-red-clr5);
  color: var(--bs-my-red-clr3);
  transition: 0.2s;
}
.my-red-button:hover{
  background-color: var(--bs-my-red-clr3);
  color: var(--bs-my-red-clr5);
}
.my-buy-button{
  border-radius: 0.2rem;
  margin-left: 20px;
  padding: 2px 20px;
}
.my-submit-button{
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}
.my-modal-button{
  margin-left: 75%;
  margin-top: 32%;
  padding: 10px 25px;
  font-size: 1.25rem;
}
.my-modal-body{
  position: relative;
  flex: 1 1 auto;
  padding: 2rem;
  height: 20rem;
}
.dynamicButton{
  display: inline-block;
}
.my-heading{
  color: var(--bs-my-red-clr2);
}
.my-form-p{
  font-weight: bold;
  font-size: 1.15rem;
  padding: 0;
  margin: 0;
}
.selected-item-block{
  padding: 1rem;
  background-color: var(--bs-my-red-clr3);
  border-radius: 0.5rem;
}
.selected-item-image{
  width: 100%;
}
.selected-item-p{
  text-align: center;
  font-size: 1.2rem;
}
/* My css */